<!-- LAUNCH FILE FOR PANDA VISION  -->

<launch>
  <arg name="larm_camera_serial_no" default="017322070987"/>

  <group ns="larm_vision">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
      <arg name="device_type"       value="d435"/>
      <arg name="serial_no"         value="$(arg larm_camera_serial_no)"/>
      <arg name='usb_port_id'       value=""/>
      <arg name="tf_prefix"         value="larm_camera"/>
      <arg name="initial_reset"     value="true"/>
      <arg name='filters'           value='pointcloud' />
      <arg name="color_width"       value="1920"/>
      <arg name="color_height"      value="1080"/>
      <arg name="depth_width"       value="1280"/>
      <arg name="depth_height"      value="720"/>
      <arg name="clip_distance"     value="-2"/>
    </include>
  </group>

</launch>
